* {
    margin: 0;
    padding: 0;
}

/* input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
} */

.signup-container {
    background-color: #2a2a2a;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: blue solid 1px; */
}

.signup-card {
    /* border: orangered solid 1px; */
    width: 404px;
    height: 805px;
    border-radius: 24px;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 40px 26px 39px;
}

.signup-title {
    color: #0E1E40;
    font-size: 30px;
    margin-bottom: 20px;
    height: 20px;
}

.signup-instructions {
    font-size: 12px;
    height: 15px;
    color: #858FAD;
    margin-bottom: 40px;
    /* width: 181px; */
    height: 15px;
}

.signup-input-label {
    /* border: green solid 1px */
    width: 362px;
    height: 71px;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    position: relative;
}

::placeholder {
    color: rgba(0, 0, 0, 0.2);
}


.signup-label {
    /* border: orange solid 1px; */
    color: #858FAD;
    width: 100%;
    height: 15px;
    font-size: 12px;
    padding: 0px 0px 8px 13px;
}

.signup-input {
    /* border: chocolate solid 1px; */
    width: 362px;
    height: 48px;
    border-radius: 12px;
    border: none;
    background-color: #ededee;
    font-size: 12px;

    padding: 17px 10px 16px 10px;

}

.signup-submit-btn {
    width: 362px;
    height: 48px;
    border-radius: 24px 0px 24px 24px;
    background-color: #5E50BF;
    color: #FFFFFF;
    font-size: 16px;
    border: none;
    margin: 48px 0px 64px 0px;
    cursor: pointer;
}


.signup-account-signin {
    /* border: purple solid 1px; */
    width: 157px;
    height: 37px;
    font-size: 12px;
    color: #858FAD;
    margin-bottom: 10px;
    border: none;
    background-color: #FAFAFA;
}

.signup-account-query {
    /* border: blue solid 1px; */
    margin-bottom: 5px;
}

.signup-signin-link {
    /* border: orchid solid 1px; */
    color: #5E50BF;
    width: 157px;
    height: 37px;
    font-size: 14px;
    cursor: pointer;
}

/* .calendar-icon {
    position: absolute;
    color: #858FAD;
    right: 0px;
    top: 40px;

} */

/*testing calendar icons*/
/* input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url(https://mywildalberta.ca/images/GFX-MWA-Parks-Reservations.png) no-repeat;
    width: 20px;
    height: 20px;
    border-width: thin;
} */